body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #edf3f8;
}

a {
  text-decoration: none !important;

}

.no-tasks {
  grid-column: 2/10;
  font-size: 20px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}

.bold {
  font-weight: 700
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.current-timer {
  font-size: 65px;
}

.grid-con {
  display: grid;
  grid-template-rows: [nav-start]100px[nav-end];
  grid-template-columns:
    [sidebar-start] 120px [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

// Grid
.main {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 45px repeat(2, min-content);
  grid-template-columns: 30px repeat(10, 1fr) 30px;
  grid-gap: 35px;
  padding: 30px 0;

  &__top {
    grid-row: 1/2;
    grid-column: 2/12;
    display: flex;
    justify-content: space-between;
    align-content: center;

    &-left {
      display: flex;
      flex-direction: column;

      &--1 {
        font-size: 24px;
        color: #922c88;
        letter-spacing: 0;
      }

      &--2 {
        font-size: 16px;
        color: #9a96a7;
        letter-spacing: 0;
      }
    }

    &-btn {
      background: #922c88;
      border-radius: 100px;
      font-size: 12px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center;
      width: 176px;
      height: 45px;
    }
  }

  &__full {
    position: relative;
    padding: 25px;
    grid-column: 2/12;

    grid-row-gap: 50px;
    grid-column-gap: 50px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3.95px 18.585px 30px 0px rgba(205, 210, 224, 0.29);
  }

  &__one {
    position: relative;
    padding: 25px;
    grid-column: 2/12;

    grid-row-gap: 50px;
    grid-column-gap: 50px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3.95px 18.585px 30px 0px rgba(205, 210, 224, 0.29);
  }

  &__two {
    position: relative;
    padding: 25px;
    grid-column: 7/12;

    grid-row-gap: 50px;
    grid-column-gap: 50px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3.95px 18.585px 30px 0px rgba(205, 210, 224, 0.29);
  }
}

.grid-col {
  display: flex;
  justify-content: space-between;
  min-width: 900px;
  margin: 0 auto;

  padding: 25px;



  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 3.95px 18.585px 30px 0px rgba(205, 210, 224, 0.29);
  box-shadow: 3.95px 18.585px 30px 0px rgba(205, 210, 224, 0.29);

}

.con-addTask {
  height: 100vh;
  display: flex;

  justify-content: center;

  align-items: center;
  flex-direction: column;
}

.table-flex {
  display: flex;
  justify-content: space-between;

  padding-bottom: 15px;
  border-bottom: 1px solid #bbbbbb6b;
  align-items: center;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 75px 75px;
  padding: 15px 0;
  border-bottom: 1px solid #bbbbbb6b;
  align-items: center;
  transition: all 1.1s;

  &:hover {
    background: #71699417;
  }

  span {
    font-size: 19px;

    padding-left: 10px;
  }

  .span-border-left {
    border-left: 2px solid black;
  }

  .span-border-right {
    border-right: 2px solid black;
  }
}

.text-center {
  text-align: center
}

.addTask {
  display: flex;
  align-content: center;
  justify-content: center;

  flex-direction: column;

  width: 500px;

  input {
    border: 1px solid rgba(231, 231, 231, 0.664);
    border-radius: 3px;
    max-width: 494.854px;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 10px;
    outline: none;
    transition: 0.3s all;

    &:focus {
      border: 2px solid #55a8fd;

      &::placeholder {
        color: #55a8fd;
      }
    }

    &::placeholder {
      color: #9a96a7;
      font-size: 14px;
    }
  }
}

.nav {
  background-color: #edf3f8;
  grid-column: 1 / -1;
  grid-row: nav-start / nav-end;
  z-index: 1000;
  display: flex;
  align-items: center;

  &__logo {
    background: #0071fe;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 55px;

    // &-line {
    //   border-width: 0.5px;
    //   border-color: rgb(242, 242, 242);
    //   border-style: solid;
    //   position: absolute;
    //   top: 100px;
    //   right: 0;
    //   width: 120px;
    //   z-index: 2;
    // }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 120px);
    padding: 0 20px;

    .search {
      border: 1px solid #f7f7f7;
      border-radius: 22px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 6px 7px 0px rgba(2, 44, 64, 0.02);
      max-width: 346px;
      width: 100%;
      height: 45px;
      outline: none;
      margin-left: 40px;
      padding-left: 25px;
      transition: 0.5s all;

      &:focus {
        border-color: #55a8fd;
        box-shadow: 0.622px 0.829px 45px 1px #382c701f;
      }
    }

    &-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 600px;


    }
  }
}

.logout {
  color: #9a96a7;
  font-size: 22px;
  border: none;

  &-icon {
    &:hover {
      border-color: rgb(146, 44, 136);
    }
  }
}

.sidebar {
  background-color: #0071fe;
  grid-column: sidebar-start / sidebar-end;
  position: relative;


  a {
    text-decoration: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-top: 30px;

    span li:hover {
      background: #55a8fd;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      transition: 0.3s all;
      height: 86px;
      font-size: 14px;
      color: #fff;

      &:hover {
        border-right: 4px solid #55a8fd;
        border-radius: 2px;
      }
    }
  }
}

.fa-home,
.fa-football-ball,
.fa-heart,
.fa-utensils {
  font-size: 35px;
  background: #fff;



  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.fa-clock {
  font-size: 27px;
}

.fa-trash-alt {
  background: #e52d27;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 27px;
}

.month-year {
  color: black
}

.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.checkmark__circle {
  stroke-dasharray: 412;
  /* ORIGINALLY 166px */
  stroke-dashoffset: 412;
  /* ORIGINALLY 166px */
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 150px;
  /* ORIGINALLY 56px */
  height: 150px;
  /* ORIGINALLY 56px */
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 98;
  /* ORIGINALLY 48px */
  stroke-dashoffset: 98;
  /* ORIGINALLY 48px*/
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 80px #7ac142;
  }
}

@keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}

@-webkit-keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}

.lds-pacman {
  position: relative;
}

.lds-pacman>div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #eac014;
  -webkit-animation: lds-pacman-1 1s linear infinite;
  animation: lds-pacman-1 1s linear infinite;
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.lds-pacman>div:nth-child(2) div:nth-child(2) {
  -webkit-animation: lds-pacman-2 1s linear infinite;
  animation: lds-pacman-2 1s linear infinite;
}

.lds-pacman>div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0a0a0a;
  -webkit-animation: lds-pacman-3 1s linear infinite;
  animation: lds-pacman-3 1s linear infinite;
}

.lds-pacman>div:nth-child(1) div:nth-child(1) {
  -webkit-animation-delay: -0.67s;
  animation-delay: -0.67s;
}

.lds-pacman>div:nth-child(1) div:nth-child(2) {
  -webkit-animation-delay: -0.33s;
  animation-delay: -0.33s;
}

.lds-pacman>div:nth-child(1) div:nth-child(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.lds-pacman {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}


select,
textarea {

  border: 1px solid rgba(231, 231, 231, 0.664);
  border-radius: 3px;
  max-width: 494.854px;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  outline: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background: white;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}